.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.tar.gz
.DS_Store
inst/doc
*.bak
*.bak.*
**/.DS_Store
.Renviron
*.sav
*.dta
*.por
*.zsav
*.Rproj

# keep pre-built vignettes tracked (overrides any doc/ rule above)
!/inst/doc/
!/inst/doc/**
!/build/
!/build/**
income/
